/*******************************************************************************
* Split View
***************************************************************************** */

/* Notes:
 * 1. Leaving this hear for future development and reference.
 */

/* Block ******************************************************************** */
.isola-c-split-view {
  display: flex;
  flex-wrap: nowrap;
  width: 100vw;
}

.isola-c-split-view .gutter-horizontal {
  /* cosmetics */
  border-left: 1px solid var(--color-primary-cool-semi-transparent);
  cursor: ew-resize;
}

.isola-c-split-view .gutter-horizontal:hover {
  /* cosmetics */
  border-left: 1px solid var(--color-primary-cool);
}

/* Elements ***************************************************************** */
.c-split-view__sidebar {
  /* 1 */
}
