/*******************************************************************************
* Writer
***************************************************************************** */

/* Notes:
 * 1.
 */

/* Block ******************************************************************** */
.c-writer {
  display: flex;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

/* Element ****************************************************************** */
.c-writer__editor {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  position: relative;
  z-index: 0;
}

.c-writer__toolbar {
  flex: 0 0 auto;
  z-index: 1;
}

.c-writer__text-editor {
  flex: 1 1 100%;
  position: relative;
  z-index: 0;
}
