/*******************************************************************************
* ToolBar
***************************************************************************** */

/* Notes:
 * 1.
 */

/* Block ******************************************************************** */
.c-hotkey {
  display: inline-block;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

.c-hotkey > * + * {
  margin-left: 0.25em;
}

.c-hotkey__key {
  font-size: 0.8em;
  display: inline-block;
  font-weight: bold;
  color: var(--color-utility-charcoal);
  background-color: var(--color-utility-milk);
  border: 1px solid var(--color-effect-ghost);
  box-shadow: 0 0.2em 0 0 var(--color-effect-ghost);
  border-radius: var(--radius-corners);
  padding: 0.2em 0.75em;
  animation-name: button-press;
  animation-duration: 3s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
}

@keyframes button-press {
  0% {
    transform: translateY(0);
    box-shadow: 0 0.2em 0 0 var(--color-effect-ghost);
  }
  3% {
    transform: translateY(0.2em);
    box-shadow: 0 0 0 0 var(--color-effect-ghost);
  }
  4% {
    transform: translateY(0);
    box-shadow: 0 0.2em 0 0 var(--color-effect-ghost);
  }
  100% {
    transform: translateY(0);
    box-shadow: 0 0.2em 0 0 var(--color-effect-ghost);
  }
}

/* Elements ***************************************************************** */
