/*******************************************************************************
* Toolbar
***************************************************************************** */

/* Notes:
 * 1. This fills in the 4 px gap between the toolbar's bottom border and the
 *    sidebar's line.
 */

/* Block ******************************************************************** */
.c-toolbar {
  display: flex;
  padding: 0.4em 0.25em;
  position: relative;

  /* cosmetics */
  border-bottom: 1px solid var(--color-utility-milk);
}

.c-toolbar::before {
  /* 1 */
  content: '';
  display: block;
  height: 0;
  position: absolute;
  right: 100%;
  top: 100%;
  width: 4px;

  /* cosmetics */
  border-bottom: 1px solid var(--color-utility-milk);
}

.c-toolbar > * + * {
  margin-left: 0.5em;
}

/* Elements ***************************************************************** */

/* No Elements here, yet. */

/* Modifiers **************************************************************** */

/* No Modifiers here, yet. */
