/*******************************************************************************
* Toolbar Button
***************************************************************************** */

/*
 * 1. Ensuring that buttons can't be selected.
 */

/* Block ******************************************************************** */
.c-toolbar-button {
  background: transparent;
  border: none;
  font-size: 0.85em;
  padding: 0.4em 0.7em 0.3em 0.7em;
  transition: background-color 0.2s;
  user-select: none; /* 1 */

  /* cosmetics */
  border-radius: var(--radius-corners);
  color: var(--color-utility-charcoal);
}

.c-toolbar-button:hover {
  /* cosmetics */
  background-color: var(--color-utility-milk);
}

/* Element ****************************************************************** */

/* Modifier **************************************************************** */
