/*******************************************************************************
* Outline
***************************************************************************** */

/* Notes:
 * 2. Webkit Scrollbars
 * 3. Scroll Snapping
 */

/* Block ******************************************************************** */
.c-outline {
  flex: 0 0 20em;
  font-size: 0.8em;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  padding-left: 0.5em;
  padding-right: 0.1em;
  padding-top: 0.5em;
  scroll-behavior: smooth;
  user-select: none;

  /* cosmetics */
  background-color: var(--color-primary-cool-light);
}

.c-outline::-webkit-scrollbar {
  /* 2 */

  /* cosmetics */
  width: 8px;
}

.c-outline::-webkit-scrollbar-track {
  /* 2 */

  /* cosmetics */
  background: ;
}

.c-outline::-webkit-scrollbar-thumb {
  /* 2 */

  /* cosmetics */
  background-color: var(--color-primary-cool-semi-transparent);
  border-radius: var(--radius-corners);
  border: 1px solid var(--color-primary-cool-light);
}

/* Element ****************************************************************** */
.c-outline__spread-list {
  list-style: none;
  margin-top: 0;
  padding: 0;
}

/* Modifier ***************************************************************** */
.c-outline--scroll-snap {
  /* 3 */
  scroll-snap-type: y mandatory;
}
