/*******************************************************************************
* Outline Item
***************************************************************************** */

/* Notes:
 * 1. The containing element needs to provide the styling here.
 * 2. Override some default user-agent styles.
 * 3. Currently Selected Outline Item
 */

/* Block ******************************************************************** */
.c-outline-item {
  overflow-x: hidden;

  /* cosmetics */
  border-radius: var(--radius-corners);
  transition: background-color 0.1s, color 0.1s;
}

/* Element ****************************************************************** */
.c-outline-item__button {
  background-color: transparent; /* 2 */
  border-width: 0; /* 2 */
  color: inherit; /* 2 */
  cursor: default;
  overflow-x: hidden;
  padding-bottom: 0.35em;
  padding-left: 0.75em;
  padding-right: 0.5em;
  padding-top: 0.3em;
  text-align: start;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

/* Modifier ***************************************************************** */
.c-outline-item--current,
.c-outline-item--current.c-outline-item:hover {
  /* 3 */

  /* cosmetics */
  background-color: var(--color-primary-cool-semi-transparent);
  color: var(--color-utility-black);
}
